html {
    scroll-behavior: smooth;
}

header{
    background-color: rgb(242, 200, 144);
    color: whitesmoke;
}

h1{
    height: 50px;
    margin-left: 1rem;
}

/* navbar */
.navbar-custom{
    height: 70px;
    background-color: rgb(125, 114, 97);
    font-size: larger;
}

.nav-item{
    margin-left: 50px;
}

.btn-danger{
    margin-left: 50px;
}

/* carousel */
.carousel-item{
    height: 100vh;
    width: 100%;
}


/* rooms section */
.sec1{
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    background-size: cover;
}

.imgs{
    height: 600px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h2{
    text-align: center;
}

p{
    font-size: 25px;
    text-align: center;
}

.room{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    margin: 5px;
}

.sroom{
    background-image: url(/multimedia/dorms.jpg);
    background-size: cover;
}

.gdorm{
    background-image: url(/multimedia/girlsdorm.jpg);
    background-size: cover;
}

.private{
    background-image: url(/multimedia/privateroom.jpg);
    background-size: cover;
}

.jumbotron{
    height: 400px;
    background-color: transparent;    
    color: #ffffff;
    font-size: 50px;
    border-radius: 20px;
}

.jumbotron:hover{
    font-size: 60px;
    background-color: rgba(251, 250, 247, 0.342);
    color: rgb(55, 50, 50);
}

.btn-outline-info{
    background-color: rgba(20, 38, 59, 0.644);
    font-size: 25px;
}

/* services section */
.sec2{
    height: 100vh;
    width: 100%;
    background-image: url(/multimedia/beach.JPG);
    background-size: cover;
}

.row1{
    padding: 40px;
    margin-top: 50px;
}

.column{
    height: 250px;
    width: 25%;
    padding: 40px;
    float: left;
}

.p{
    height: 50px;
    line-height: 30px;
    padding: 20px;
    text-align: right;
}


/* footer  */
footer{
    height: 300px;
    background-color: rgb(242, 200, 144);
    font-size: 25px;
    text-align: center;
}

.h4{
    margin-top: 10px;
}

.fa-brands{
    font-size: small;
    color: rgb(68, 61, 49);
    text-transform: lowercase;
}

h5{
    text-decoration: overline;
    padding-top: 40px;
    padding-bottom: 30px;
}