html {
    scroll-behavior: smooth;
}

header{
    background-color: rgb(245, 125, 73);
    color: white;
}

.logoNav{
    height: 100px;
    width: 100px;
}

h1{
    height: 50px;
    margin-left: 1rem;
}

/* navbar */
.navbar-custom{
    height: 70px;
    color: #fff;
    background-color: rgb(245, 125, 73);
    border-color: rgb(245, 125, 73);
    font-size: larger;
}

.nav-item{
    margin-left: 50px;
}

/* .btn-danger{
    margin-left: 50px;
} */

#reservation{
    color: black;
}

/* carousel */
.carousel-item{
    height: 100vh;
    width: 100%;
}


/* rooms section */
.sec1{
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.p1{
    font-size: 30px;
    padding-top: 50px;
}


.column1{
    height: 350px;
    width: 100%;
    justify-items: space-around;
}

.sroom{
    background-image: url(../multimedia/dorms.jpg);
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
}

.gdorm{
    background-image: url(../multimedia/girlsdorm.jpg);
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
}

.private{
    background-image: url(../multimedia/privateroom.jpg);
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
}

.jumbotron{
    height: 350px;
    background-color: transparent;    
    color: #ffffff;
    font-size: 40px;
    border-radius: 20px;
}

.jumbotron:hover{
    height: 350;
    font-size: 50px;
    background-color: rgba(251, 250, 247, 0.342);
    color: rgb(250, 250, 250);
    font-weight: bold;
}

.btn-outline-danger{
    width: 150px;
    height: 60px;
    color: #fff;
    background-color: rgb(245, 125, 73);
    border-color: rgb(245, 125, 73);
    
}

/* reservation section*/

.card{
    height: max-content;
    border: none;
}

#roomBooking{
    height: 60vh;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* services section */
.sec2{
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    background-image: url(../multimedia/beach.JPG);
    background-size: cover;
}

h2{
    height: 50px;
    text-align: center;
    font-weight: bold;
    color:rgb(245, 125, 73);
    margin-bottom: 50px;
}

.row2{
    padding: 20px;
    margin-top: 50px;
    height: 350px;
    display: flexbox;
    align-items: stretch;
    
}

.column2{
    height: 150px;
    width: 25%;
    padding: 20px;
    float: left;
}

.p2{
    height: 100px;
    font-size: 30px;
    line-height: 50px;
    padding-top: 50px;
    text-align: center;
}

/*form section*/
form{
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #292e31;

    font-size: 25px;
    text-align: center;
}

.containerForm{
    height: 300px;
    width: 600px;    

}

.inputs{
    width: 300px;
    padding-left: 100px;

}

/* footer  */
footer{
    height: 300px;
    color: white;
    background-color: #292e31;
    font-size: 25px;
    text-align: center;
}

h4{
    padding-top: 50px;
    color: black;
}

.fa-brands{
    font-size: small;
    color:white;
    text-transform: lowercase;
    padding-left: 30px;
    padding-right: 30px;
}

h6{
    text-decoration: overline;

    padding-top: 50px;
    padding-bottom: 30px;
}